.container {
  width: 100vw;
  height: fit-content;
  margin: auto;
  border: 1px solid #161616;
  text-align: center;
  background-image: url("../assets/banner.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.heading {
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  padding: 10px;
  color: #ffffff;
}

.result {
  font-size: medium;
  padding: 10px;
  color: #ffffff;
}

.searchBar {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  width: 40%;
  height: 3rem;
  margin: auto;
  text-align: center;
  border: 2px solid #191919;
  border-radius: 20px;
}
